<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduler</title>
    <link rel = "stylesheet" href = "/styles/styles.css">
</head>
<body>
    <h1>Hello World</h1>
    <form action="/submit-order" method="post">

        <!-- Contact Info -->
        <fieldset>
            <legend>Contact Info</legend>

            <label>First Name:
                <input type="text" name="fname">
            </label>

            <label>Last Name:
                <input type="text" name="lname">
            </label>

            <label>Date:
                <input type="text" name="date">
            </label>
            <label>Time:
                <input type="time" name="time">
            </label>

        </fieldset>
        <button type="submit">Place Order</button>

    </form>
</body>
</html>